{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><p style="font-size: 18px; text-align: center;">We are always here for emergency needs. For emergency purposes contact:</p>
<p style="font-size: 18px;"><br></p>
<h1 style="font-size: 32px; text-align: center;"><b><u>+92 333 1234567</u></b></h1>
<p style="font-size: 18px;"><br></p>
<p style="font-size: 18px; text-align: center;">Prices for Ambulance is given below:</p>
<ol style="font-size: 18px; text-align: center;">
    <li><b>A.C./Oxygen Ambulance:  </b>$199</li>
    <li><b>Non A.C. Ambulance:  </b>$119</li>
</ol>
<p style="font-size: 18px; text-align: center;"><br></p>
<p style="font-size: 18px; text-align: center;">
    We offer first-aid services free of charges for the patient and will help the patient
    transfer to the nearest hospitals
</p>
{% endblock %}
