{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Appointment</h2>
                    <ul class="bread-list">
                        <li><a href="home.html">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Set Appointment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<div class="container">
    <center>
        <br><br>
        <h3>Review your information</h3>
        <div style="font-size: 18px;">
            <b>Your name: </b>{{ name }}<br>
            <b>Your email: </b>{{ email }}<br>
            <b>Your phone: </b>{{ phone }}<br>
            <b>Your department: </b>{{ department }}<br>
            <b>Your doctor: </b>{{ doctor }}<br>
            <b>Your schedule: </b>{{ schedule }}<br>
            <b>Your date for setting appointment: </b>{{ date }}<br>
            <b>Your message: </b>{{ message }}<br>
        </div>
    </center>
    <br><br>
    {% if success_message %}
        <div class="alert alert-success mt-3">{{ success_message }}</div>
    {% endif %}
</div>
{% endblock %}
